<div class="row">
 <h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
    </div>
  </aside>
  <div>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Microposts  <span class="badge badge-secondary"><%= @count_microposts %></span></a></li>
    </ul>
    <%= render 'microposts/microposts', microposts: @microposts %>
  </div>
