<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
  <li class='text-center'>
    <%= image_tag micropost.image.url %>
   <div>
    　　<div class="form-group">
           <p>撮影日時</p>
          <%= micropost.time %>
        </div>
        
      　<div class="form-group">
          <p>撮影場所</p>
          <%= micropost.place %>
        </div>
        
         <div class="form-group">
           <p>移動手段</p>
          <%= micropost.move %>
        </div>
         
         <div class="form-group">
           <p>必要な物</p>
          <%= micropost.necessary %>
        </div>
        
         <div class="form-group">
           <p>コメント</p>
          <%= micropost.content %>
        </div>
       
         <div>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
      </li>
      <% end %>
  <%= paginate microposts %>
</ul>
